[submodule "PFP191/Lab1"]
	path = PFP191/Lab1
	url = https://github.com/hungpham3112/Lab1-PFP191
[submodule "PFP191/Lab2"]
	path = PFP191/Lab2
	url = https://github.com/hungpham3112/Lab2-PFP191
[submodule "PFP191/Lab3"]
	path = PFP191/Lab3
	url = https://github.com/hungpham3112/Lab3-PFP191
[submodule "PFP191/Lab4"]
	path = PFP191/Lab4
	url = https://github.com/hungpham3112/Lab4-PFP191
[submodule "PFP191/Lab5"]
	path = PFP191/Lab5
	url = https://github.com/hungpham3112/Lab5-PFP191
[submodule "CPV301/Homework/FinalProject"]
	path = CPV301/Homework/FinalProject
	url = https://github.com/hungpham3112/AssignmentCPV.git
[submodule "CPV301/Homework/Lab5"]
	path = CPV301/Homework/Lab5
	url = https://github.com/hungpham3112/RANSAC.git
[submodule "CPV301/Homework/Lab6"]
	path = CPV301/Homework/Lab6
	url = https://github.com/hungpham3112/ImageStitching.git
